/*main*/

/* body {
    background-color: rgb(0, 0, 0);
} */

/*app.jsx*/

.droppable-areas-container {
    width: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 4fr;
    gap: 5vw;
    padding: 20px;
    /* justify-content: space-around;
    align-items: center; */
    
}


/*droppable.jsx*/

.droppable-container-light, .droppable-container-dark {
    display: flex;
    grid-row: 2;
    grid-column: 3;
    flex-direction: column;
    
    /* width: 200px;
    min-height: 700px; */
    padding: 10px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    grid-column: auto;
    color: rgb(255, 255, 255);
    border-radius: 2vw;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}


.droppable-container-dark {
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 50px;
}

.droppable-container:hover {
    scale: 1.05;
}

.droppable-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    padding: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 2vw;
    cursor: grab;
    border-radius: 5px;
}

.droppable-item:hover {
    scale: 1.2;
}

/*taskInput.jsx*/

.toggle-button {
    margin-left: 3vw;
    font-size: 5vw;
    color: black;
}

.toggle-button-dark {
    margin-left: 3vw;
    font-size: 5vw;
    color: white;
}

.task-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    

}

.task-input {
    margin-right: 2vw;
    width: 15vw;
    height: 3vw;
    background-color: rgb(255, 255, 255);
}

.add-task-button {
    background-color: rgb(255, 255, 255); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 1.5vh 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: black 0px 0px 20px;
    border-radius: 5px;
}

.add-task-button:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: rgb(0, 255, 0) 0px 0px 10px;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    border-radius: 50%;
    height: 3vh;
    background-color: red;
    color: white;
    box-shadow: red 0px 0px 2px;
}

.delete-button:hover {
    scale: 1.2;
    cursor: pointer;
}