.kanban-name {
    font-family: "Montserrat Underline", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0;
    grid-area: title;
    box-shadow: black 0px 0px 10px;
    text-shadow: black 0px 0px 20px;
}

.authentication-container {
    display: grid;
    grid-template-areas: 
    'title title'
    'p x'
    'signup signin'
    ;
    background-color: rgb(110, 68, 0);
    width: auto;
    height: auto;
    /* border-radius: 0px 0px 20px 20px; */
    box-shadow: black 0px 0px 20px;
    margin-bottom: 50px;
    gap: 10px;
    width: 100vw;
}

@media screen and (max-width: 768px) { 
    .authentication-container {
        grid-template-areas: 
            'title'
            'p'
            'signup'
            'x'
            'signin'; 
        grid-template-columns: 1fr; 
        gap: 20px; 
        justify-items: center; 
    }
    
}

.signup-message, .login-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    grid-area: p;
    /* padding: 3vh; */
    font-size: 15px;
}

.login-message {
    grid-area: x;
}


.signup-form-container,
.login-form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    margin: auto;
    padding: 20px;
    grid-area: signup;
    margin-bottom: 50px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.546);
    width: 300px;
    border-radius: 22px;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

@media screen and (max-width: 370px) {
    .signup-form-container, 
    .login-form-container {
        width: 200px;
        height: 200px;
        padding: 30px;
    }
}

.login-form-container {
    grid-area: signin;
    /* margin-bottom: 30px; */

    /* grid-row: 2; */
}


.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.signup-button,
.login-button {
    background-color: rgb(0, 229, 255);
    border: rgb(0, 179, 255) solid 2px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* box-shadow: rgb(0, 0, 0) 0px -0.2px 3px; */
    margin-top: 20px;
}

.signup-button:hover {
    cursor: pointer;
    scale: 0.9;
}

.signup-name,
.login-name {
    margin-top: 1px;
    font-size: larger;
}


.input-field {
    background-color: rgba(255, 255, 255, 0.806);
    border: rgb(209, 209, 209) solid 0.5px;
    padding: 15px;
    border-radius: 10px;
}

.login-form-container {
    display: flex;
    /* grid-column: 1/-1; */
    justify-content: center;
    /* grid-row: 4; */
    /* align-items: center; */
}

.username-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
}

.logout-button {
 justify-content: center;
 align-items: center;   
}

