.droppable-areas-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
    'taskinput taskinput taskinput'
    'todo inprogress completed'
    ;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 1vw;
    // padding: 20px;
    width: 100vw;
    
    justify-content: center;
    
}



.todo-droppable-area,
.inprogress-droppable-area,
.completed-droppable-area {
    
    display: block;
    text-align: center;
    padding: 2vw;
    
    height: 100%;
    font-size: 1vw;
    font-family: "Montserrat Underline", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    border-radius: 1vw;
    color: rgb(0, 0, 0);


    
}
.todo-droppable-area {
    grid-area: todo;
}

.inprogress-droppable-area {
    grid-area: inprogress;
}

.completed-droppable-area {
    grid-area: completed;
}

.light {
    border: 0.5px solid rgba(0, 0, 0, 0.564);
    background-color: rgba(255, 255, 255, 0.454);
}


.dark {
    color: black;
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgb(255, 255, 255) 0px 0px 50px; */
}

.dark:hover,
.light:hover {
    scale: 1.05;
}

.droppable-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    padding: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 2px;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 2vw;
    cursor: grab;
    border-radius: 5px;
    font-family: "Edu AU VIC WA NT Guides", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.droppable-item:hover {
    scale: 1.2;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    border-radius: 50%;
    height: 3vh;
    background-color: red;
    color: white;
    box-shadow: red 0px 0px 2px;
}

.delete-button:hover {
    scale: 1.2;
    cursor: pointer;
}
