.task-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;


}

.task-input {
    margin-right: 2vw;
    width: 33vw;
    height: 3vw;
    background-color: rgb(0, 238, 255);
}

.add-task-button {
    background-color: rgba(213, 128, 0, 0.84);
    border: none;
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    border: black solid 0.1px;
    border-radius: 15px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.add-task-button:hover {
    scale: 1.2;
    cursor: pointer;
}
