@use 'authentication';
@use 'droppable';
@use 'tasks';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}



.footer {
    background-color: color-mix(in hsl shorter hue, blue 50%, green 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    margin-top: 100px;
    color: rgb(255, 255, 255);

    box-shadow: inset 0px 9px 20px -10px black;
}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
}

.footer-text:hover {
    scale: 1.1;
}
.links {
    display: flex;
    flex-direction: column;

}

::-webkit-scrollbar {
    background-color: rgb(0, 136, 255);
}

::-webkit-scrollbar-button {
    background-color: rgb(255, 200, 0);
}

::-webkit-scrollbar-corner {
    background-color: bisque;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
}

::-webkit-scrollbar-track {
    background-color: aquamarine;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(0, 183, 255);
}