@use 'authentication';
@use 'droppable';
@use 'tasks';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}



.footer {
    background-color: rgb(110, 68, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    
    box-shadow: black 0px 0px 10px;
}