.kanban-name {
     font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 22px;
    grid-area: title;
    background-color: color-mix(in hsl shorter hue, blue 70%, green 50%);
    box-shadow: black 0px 0px 15px;
    text-shadow: black 0px 0px 5px;
}

.authentication-container {
    display: grid;
    grid-template-areas:
        'title title title'
        'signup z signin'
    ;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: color-mix(in hsl shorter hue, blue 50%, green 50%);
    width: auto;
    height: auto;
    box-shadow: black 0px 0px 20px;
    margin-bottom: 50px;
    gap: 10px;
    width: 100vw;
}


.signup-message,
.login-message {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(0, 0, 0);
    grid-area: p;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.signup-form-container,
.login-form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    margin: auto;
    padding: 20px;
    grid-area: signup;
    margin-bottom: 50px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.546);
    width: 300px;
    border-radius: 22px;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 1px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.login-form-container {
    grid-area: signin;
}


.signup-form,
.login-form,
.animation-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}


.signup-button,
.login-button {
    background-color: rgb(0, 229, 255);
    border: rgb(0, 179, 255) solid 2px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.signup-button:hover,
.login-button:hover {
    cursor: pointer;
    scale: 0.9;
}

.signup-name,
.login-name {
    margin-top: 1px;
    font-size: larger;
}


@keyframes pulse {
    0% {
        // transform: translate(-100px, 0px);        
        transform: rotateY(0deg);
    }

    50% {
        // transform: translate(100px, 0px);
        transform: rotateY(0deg) scale(1);
    }

    55% {
        transform: rotateY(180deg) scale(1.2);
    }

    60% {
        transform: rotateY(0deg) scale(1);
    }

    100% {
        // transform: translate(-100px, 0px);
        transform: rotateY(0deg);
    }
}

.animation-container {
    grid-area: z;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px;
    scale: 0.5;
    border-radius: 5%;
    background-color: transparent;
    animation: pulse 8s infinite;
}

.face {
    font-size: 20vw;
    color: yellow;
    // text-shadow: rgb(247, 255, 3) 0px 0px 80px;
}

.face:hover {
    transform: scale(1.2);
    transition: transform 1s ease;
}



.input-field {
    background-color: rgba(255, 255, 255, 0.806);
    border: rgb(209, 209, 209) solid 0.5px;
    padding: 15px;
    border-radius: 10px;
}

.login-form-container {
    display: flex;
    justify-content: center;
}

.username-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.username-name {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logout-button {
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.078);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.logout-button:hover {
    cursor: pointer;
    scale: 1.1;
}

@media screen and (max-width: 1400px) {
    .authentication-container {
        grid-template-areas:
            'title'
            'signup'
            'z'
            'signin';
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }

    .kanban-name {
        width: 100vw;
    }

    .animation-container {
        width: 100px;
        height: 100px;
    }
    .face {
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 370px) {

    .signup-form-container,
    .login-form-container {
        width: 200px;
        height: 300px;
        padding: 30px;
    }
}

@media screen and (max-width: 250px) {

    .signup-form-container,
    .login-form-container {
        width: 100px;
        height: 300px;
        padding: 50px;
    }

    .signup-button,
    .login-button {
        font-size: 15px;
    }
}