.droppable-areas-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas:
        'taskinput taskinput taskinput'
        'todo inprogress completed'
    ;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1vw;

    width: auto;

    justify-content: center;
    padding: 0vh 7vw 0vh 7vw;

}



.todo-droppable-area,
.inprogress-droppable-area,
.completed-droppable-area {

    display: flex;
    justify-content: center;
    border-radius: 1vw;

}

.the-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Montserrat Underline", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: rgb(0, 0, 0);
    width: auto;
    min-width: 28vw;
    height: auto;
    min-height: 10vh;

}

.todo-droppable-area {
    grid-area: todo;
}

.inprogress-droppable-area {
    grid-area: inprogress;
}

.completed-droppable-area {
    grid-area: completed;
}

.light {
    border: 0.5px solid rgba(0, 0, 0, 0.564);
    background-color: rgba(255, 255, 255, 0.454);
}


.dark {
    color: black;
    border: 0.5px solid rgba(0, 0, 0, 0.564);
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgb(255, 255, 255) 0px 0px 50px; */
}

.dark:hover,
.light:hover {
    scale: 1.05;
}

.droppable-item {
    display: grid;
    grid-template-areas:
        'previous name delete next'
    ;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: auto;
    margin: 22px;
    padding: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 2px;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    cursor: grab;
    border-radius: 5px;

}

.droppable-item:hover {
    scale: 1.02;
}

.item-name {
    display: flex;
    justify-content: center;
    grid-area: name;
    font-size: 25px;
    font-family: "Edu AU VIC WA NT Guides", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;




}


.move-previous,
.move-next {
    display: flex;
    background-color: rgb(0, 136, 255);
    align-items: center;
    justify-content: center;
    font-size: 0px;
}

.move-previous {
    grid-area: previous;
}

.move-previous::before,
.move-next::before {
    font-size: 20px;
    font-weight: 900;
    color: white;
    content: '←'
}

.move-next {
    grid-area: next;
}

.move-next::before {
    content: '→'

}

.delete-button {

    display: flex;
    grid-area: delete;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin-right: 2vw;
    height: 3vh;
    background-color: red;
    color: white;
}

.delete-button:hover {
    scale: 1.2;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .droppable-areas-container {
        grid-template-areas:
            'taskinput'
            'todo'
            'inprogress'
            'completed'
        ;
        grid-template-columns: 1fr;
    }

    .the-title {
        width: 100vw;
        font-size: 22px;
        min-height: 1vw;
    }

    .move-previous::before {
        content: '↑';
    }

    .move-next::before {
        content: '↓';
    }

    .move-next::before,
    .move-previous::before {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {

    .item-name,
    .todo-droppable-area,
    .inprogress-droppable-area,
    .completed-droppable-area {
        font-size: 28px;
    }

    .droppable-item {
        margin: auto;
        padding: auto;
    }

    .the-title {
        font-size: 20px;

    }

}

@media screen and (max-width: 300px) {

    .item-name,
    .todo-droppable-area,
    .inprogress-droppable-area,
    .completed-droppable-area {
        font-size: 10px;
    }
}